<div class="footer">
<div class="container ">

    <div class="row text-center py-2 text-white">
        <div class="col-lg-4 py-5 ">
           <h3>LOCATION</h3>
           <p>2215 John Daniel Drive </p>
           <p>Clark, MO 65243</p>
        </div>
        <div class="col-lg-4 py-5">
            <h3>AROUND THE WEB            </h3>
            <div  class="icons">
            <i class="fa-brands fa-facebook mx-1 icon "></i>
            <i class="fa-brands fa-twitter mx-1 icon"></i>
            <i  class="fa-brands fa-linkedin-in mx-1 icon"></i>
            <i  class="fa-solid fa-globe mx-1 icon"></i>
            </div>
         </div>
         <div class="col-lg-4 py-5 ">
            <h3>ABOUT FREELANCER            </h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route            </p>
         </div>
    </div>
    </div> 
</div>

<p class="text-center py-2 text-white" style="background-color: #1a252f;">Copyright © Your Website 2021</p>



 