<div  class="about text-white d-flex justify-content-center align-items-center">
    <div >

        <app-star [headingText]="'about component'" [bgColor]="'white'"></app-star>

            <div class="container">
                <div  class="row px-5">
                    <div  class="col-md-6 ps-md-5">
                        <p > Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                    </div>
                    <div  class="col-md-6 pe-5">
                        <p > Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>